
pycache/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

instance/
.webassets-cache
.env
.flaskenv

*.db
*.sqlite3
database.db

static/uploads/*
!static/uploads/.gitkeep

.vscode/
.idea/
*.swp

*.log